<form action="/fruits/<%=@fruit_id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Name<input type="text" name="name" /></label>
  <button type="submit" value="Update Fruit">Update Fruit</button>
</form>